<app-navbar></app-navbar>

<div class="main-container">
  <div class="rewards-section">
    <div class="rewards-section-left">
      <img class="rewards-img" src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-83498.jpg">
    </div>
    <div class="rewards-section-right">
      <h1>Spring in your step, Rewards in your cup</h1>
      <p>Shake up your usual and start earning Rewards —join
        <br>today!*</p>
      <button class="btn btn-outline-dark">Join now</button>
    </div>
  </div>

  <div class="uplifting-section">
    <div class="uplifting-left-section">
      <h1>Uplifting anytime</h1>
      <p>Recharge with a lively Brown Sugar Oatmilk or Toasted Vanilla Oatmilk
        Shaken Espresso—140 calories or less in a grande.</p>
      <button class="btn btn-outline-dark">Order now</button>
    </div>
    <div class="uplifting-right-section">
      <img src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-83270.jpg">
    </div>
  </div>

  <div class="vibrant-section">
    <div class="vibrant-left-section">
      <img src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-83568.jpg">
    </div>
    <div class="vibrant-right-section">
      <h1>Uplifting anytime</h1>
      <p>Recharge with a lively Brown Sugar Oatmilk or Toasted Vanilla Oatmilk
        Shaken Espresso—140 calories or less in a grande.</p>
      <button class="btn btn-outline-dark">Order now</button>
    </div>
  </div>

  <div class="savory-section">
    <div class="savory-left-section">
      <h1>Savory and satisfying</h1>
      <p>The Impossible™ Breakfast Sandwich, featuring an Impossible™ Sausage
        Patty Made From Plants, is always a great choice.**</p>
      <button class="btn btn-outline-dark">Order now</button>
    </div>
    <div class="savory-right-section">
      <img src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-83504.png">
    </div>
  </div>

  <div class="text-desc-section">
    <p class="p-1">*At participating stores. Some restrictions apply. See
      <a href="https://www.starbucks.com/rewards" target="_blank">starbucks.com/rewards</a>
    </p>
    <p class="p-2">**Impossible is a trademark of Impossible Foods Inc. Used under license.</p>
  </div>

</div>
